<!--Form for entering username and password-->

<!-- 
<div>
    <div zideco-key objConfig="keyDownConfig"></div>
    <form>
        <input type="text" class="form-control" placeholder="Username" ng-model="username" auto-focus>
        <input type="password" class="form-control" placeholder="Password" ng-model="password">
    </form>
    <div class="modal-footer">
        <button id="btnOk" class="btn btn-primary" ng-click="ok()">OK</button>
        <button id="btnCancel" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
 -->


<div >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">x</button>
        <h3>Credentials</h3>
    </div>
    <div class="modal-body">
        <form name="login_form">
            <p>
                <p>focusUserName: {{focusUserName}}</p>
                <input type="text" class="span3" name="eid" id="username" placeholder="Username" ng-model="username" auto-focus="focusUserName">
            </p>
            <p>
                <input type="password" class="span3" name="passwd" placeholder="Password" ng-model="password">
            </p>
            <p>
                <button type="submit" class="btn btn-primary" ng-click="ok()">OK</button>
            </p>
        </form>
    </div>
</div>
