<!-- summary bar -->
<div class="col-xs-12">
   <h1>{{monthSummary.totalValidMinutes | minutos}}</h1>
   <form>
<!--        <button popover="I appeared on mouse enter!" popover-trigger="mouseenter" ng-click="sendEntryProcessServiceRequestCurrentMonth()" class="btn btn-default">Mouseenter</button>
 -->       
<button ng-click="sendEntryProcessServiceRequestCurrentMonth()" class="btn ">Reprocess Month</button>
       <button ng-click="refreshCalendar()" class="btn ">Refresh Calendar</button>

   </form>
</div>
<!-- Calendar -->
<!-- <div class="row"> -->
<div class="blk-padded-top col-xs-12">
   <!-- <div ng-controller="hoursCtrlMain"> -->
   <div ui-calendar="uiConfig.calendar" class="fullheight" ng-model="eventSources" calendar="mainCal"> </div>
   <!-- </div> -->
</div>
<!-- </div> -->
