<!-- summary bar -->
<div class="col-xs-12">
    <h1>{{monthSummary.totalValidMinutes | minutos}}</h1>
    <form>
        <input type="text" class="form-control" placeholder="Start Date" ng-model="startDate4Scrape">
        <input type="text" class="form-control" placeholder="End Date" ng-model="endDate4Scrape">
        <button ng-click="testio()" class="btn btn-danger">The socket-io test button!</button>

        <button ng-click="sendScrapeTimeEntriesServiceRequestCurrentMonth()" class="btn ">Scrape Period</button>
        <button ng-click="sendEntryProcessServiceRequestCurrentMonth()" class="btn ">Reprocess Month</button>
        <button ng-click="refreshCalendar()" class="btn ">Refresh Calendar</button>
    </form>
</div>
<!-- Calendar -->
<div class="blk-padded-top col-xs-12">
    <div ui-calendar="uiConfig.calendar" class="fullheight" ng-model="eventSources" calendar="mainCal"> </div>
</div>
