.gridAcima {
  position: relative;
  margin-top: 300px;
  -webkit-transition: margin-top .3s ease-in-out;
  -most-transition: margin-top .3s ease-in-out;
  transition: margin-top .3s ease-in-out;
  &.active {
    margin-top: 0;
  }
}

.gridDireita {
  position: relative;
  left: 0;
  -webkit-transition: left .3s ease-in;
  -most-transition: left .3s ease-in;
  transition: left .3s ease-in;
  &.active {
    left: 15%;
  }
}

.grid-offcanvas {
  visibility: visible;
  position: absolute;
  top: 0;
  background-color: #F7F7F7;
  padding: 5px;
  &.active {
    visibility: hidden;
  }
}

.gridStyle {
  border: 1px solid #d4d4d4;
  width: 100%;
  height: 300px;
}

.gridStyleA {
  border: 1px solid #d4d4d4;
  width: 98%;
  height: 300px;
}

.gridStyleD {
  border: 1px solid #d4d4d4;
  width: 100%;
  height: 660px;
}

.ngViewport {
  height: auto !important;
  overflow-y: auto;
  //  min-height: 200px !important;
}


.gridStyleFull {
  //  border: 1px solid #d4d4d4;
  width: 100%;
  margin-bottom: 30px;
  background-color: #fdfdfd;
}

//.ngRow {
//  color: #ffffff;
//}
//.ngRow.odd {
//  background-color: #6990CD;
//}
//.ngRow.even {
//
//  background-color: #0E4891;
//}
//.ngRow.selected {
//  background-color: #c9dde1;
//}



//.ngViewport.ng-scope{
//  height: auto !important;
//}

.ngFooterPanel {

}

//.ngViewport.ng-scope, .ngCanvas {
//  margin-bottom: -9999px;
//  padding-bottom: 9999px;
////  height: auto !important;
//}

//.ngViewport.ng-scope {
//  height: auto !important;
//  overflow-y: hidden;
//}
//
//.ngTopPanel.ng-scope, .ngHeaderContainer {
//  width: auto !important;
//}
