//Aqui são os paineis EXTERNOS.
.painel-conteudo-modulo {
  padding: 0;
}

.painel-principal-direito {
  padding-left: 0;

}

//Aqui sao os paineis internos do modulo.
.painel-conteudo-esquerdo {
  padding-left: 5px;
  padding-right: 0;
}

.painel-conteudo-direito {
  //  padding: 5px;
  padding: 0;
}

.mainConteudo {
  padding-left: 0;
}
