.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

html {
  position: relative;
  height: 100%;
}

/*Este trecho serve para que o conteudo nao seja escondido pelo header.*/
body {
  padding-top: $navbar-barraIdentificadora-top;
  height: 100%;
  margin-bottom: 60px;
  font-size: 13px;
}

@media screen and (max-width: 250px) {
  body {
    padding-top: 100px;
  }
}

hr {
  border: 1px solid teal;
}

.container {
  min-height: 100%;
  width:100%;
  overflow: auto;
}

.list-unstyled {
  margin-left: 0px;

}


//@media screen and (max-width: 767px) {
/* outer div */
.row-offcanvas {
  position: relative;
  left: 0;
  -webkit-transition: left .3s ease-in;
  -most-transition: left .3s ease-in;
  transition: left .3s ease-in;
  &.active {
    left: 15%;
  }
}

/* sidebar */
.sidebar-offcanvas {
  visibility: hidden;
  left: -15%;
  width: 15%;
  position: absolute;
  top: 0;
  background-color: #F7F7F7;
  padding: 5px;
  &.active {
    visibility: visible;
  }
}

.logindiv {
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  /*border: seagreen;*/
  background-size: 32px 32px;
  border-radius: 50%;
  /*display: block;*/
  background-color: #ffffff;
  height: 32px;
  margin: -1px;
  width: 32px;
  /*background-image: url("assets/images/Logout.png");*/
}




/* Sticky footer styles*/
/*-------------------------------------------------- */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20;
  /*Set the fixed height of the footer here*/
  height: $footer-height;
  background: $footer-background;
  left: 0;
}
