
.navbar-zideco {
  margin-top: 3px;
  margin-bottom: 10px;
}

.navbar-zideco .navbar-header {
  li {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  a {
    color: $navbar-textcolor;
  }
}

.mainContent {
    // margin-top: 10px;
    border: 1px solid red;
}

// .navbar-module-current {
//   // margin-left: 10px;
//   margin-right: 10px;
// }

.navbar-modules {
  a {
    margin-left: 10px;
  }
}

.navbar-modules {
    .icon-bar-image {
        background-color: $navitem-inactivemodules-background-color;

    }
}

.navbar-item {
    position: relative;
  float: left;
    
}

.icon-bar-image {
  border-radius: 50%;
  //Com imagens...
  background-repeat: no-repeat;
  background-position: center;
  background-size: $icon-bar-image-width $icon-bar-image-height;
  height: $icon-bar-content-width;
  width: $icon-bar-content-height;
  position: relative;
  float: left;
  
  background-color: $navitem-background-color;

  transition: all 100ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 2px 0px, 
              rgba(0, 0, 0, 0.278431) 0px 2px 4px 0px;
   // img {
  //     border: 0px;
  //     // margin-top: -5px;
  //     // box-shadow: 0px 2px 5px 2px #FFFFFF,  -2px 0px 5px 2px #FFFFFF,
  //     // 2px 0px 5px 2px #FFFFFF,  0px -2px 5px 2px #FFFFFF
  //     // ;
  //     position: absolute;
  //     // padding: 5px;
  //     top: 5px;
  //     right: 10px;
  //     // height: 100%;
  //     // width: 100%;
  //     // right: 10px;
  //     height: $icon-bar-content-width - 10;
  //     width: $icon-bar-content-height - 10;
  //     border-radius: 5px;
  //     // border-radius: 50%;
  // }
}

a.icon-bar-image {
  font-size: $icon-bar-fa-fontsize;
  padding: $icon-bar-padding 0;
  text-align: center;
  // color: $navbar-barraIdentificadora-color;
  text-decoration: none;
  &:hover {
    font-size: $icon-bar-fa-fontsize-hover;
    padding: $icon-bar-padding/2 0;
    outline: none;
  }
}


//Setinha
// .dropdown-menu-content:before {
//     content: ' ';
//     position: absolute;
//     width: 0;
//     height: 0;
//     right: $navbar-dropdownmenu-seta-before-deslocamento-right;
//     top: $navbar-dropdownmenu-seta-before-deslocamento-top;
//     border: 10px solid;
//     //  border-color: red green #666 blue;
//     border-color: transparent transparent #666 transparent;
// }
// .dropdown-menu-content:after {
//     content: ' ';
//     position: absolute;
//     width: 0;
//     height: 0;
//     right: $navbar-dropdownmenu-seta-after-deslocamento-right;
//     top: $navbar-dropdownmenu-seta-after-deslocamento-top;
//     border: 10px solid;
//     border-color: transparent transparent $navbar-dropdownmenu-backgroundcolor transparent;
// }
