.backlogo {
  //  background-image: url('assets/images/LogoKDForWeb3.svg');
  background-size: contain;
  background-repeat: no-repeat;
  //  border: 1px solid #000000;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}
