// ACTION BAR
.zideco-actionbar {
    background-color: #FFFFFF;
    //border: 1px
    // padding: 5px;
}

.zideco-actionbar .btn {
    background-color: #FBF9F9;
    border-width: 1px;
    border-color: #DDDDDD;
    color: #428BCA;
}

.zideco-actionbar .btn:disabled {
    opacity: 0.3;
    background-color: #FFFFFF;
}

.zideco-actionbar h3.titulo {
    // background-color: #000000;
    font-size: 16px;
    font-weight: 500;
    display: inline;
    padding-left: 20px;
    // background-color: #FBF9F9;
    border-width: 1px;
    border-color: #DDDDDD;
}

// .zideco-actionbar.menu-destaque {
//     background-color: #F5F5F5;
//     width: 100%;
// }


// LOADING DIRECTIVE
.black_overlay {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    // background-color: #2980B9;
    z-index: 1101;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
}

.white_content {
    display: block;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    padding: 16px;
    // -moz-opacity: 0.5;
    // opacity: .50;
    // filter: alpha(opacity=50);
    background-color: #2980B9;
    z-index: 1102;
    overflow: auto;
    border-radius: 20px;
    // background-color: #2980B9;
    // background: -webkit-linear-gradient(#009AFF, #2980B9);
    // /* For Safari 5.1 to 6.0 */
    
    // // 
    // background: -o-linear-gradient(#009AFF, #2980B9);
    // /* For Opera 11.1 to 12.0 */
    
    // // 
    // background: -moz-linear-gradient(#009AFF, #2980B9);
    // /* For Firefox 3.6 to 15 */
    
    // // 
    // background: linear-gradient(#009AFF, #2980B9);
    // /* Standard syntax */
}

.loading-spinner {
    color: white;
    font-size: 50px;
    height: 60px;
    // width: 500px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // text-align: center;
    margin-left: auto;
    margin-right: auto;
    // margin-top: 50%;
    // margin-bottom: auto;
}


.spinner {
    // margin: 100px auto;
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 150px;
    // position: relative;
    // border: 1px solid red;
    transform: translate(-50%, -50%);
    // bottom: 0px;
    // left: 50%;
}

.cube1,
.cube2 {
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: cubemove 1.4s infinite ease-in-out;
    animation: cubemove 1.4s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

@-webkit-keyframes cubemove {
    25% {
        -webkit-transform: translateX(370px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(370px) translateY(120px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(120px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes cubemove {
    25% {
        transform: translateX(370px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(370px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(370px) translateY(120px) rotate(-179deg);
        -webkit-transform: translateX(370px) translateY(120px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(370px) translateY(120px) rotate(-180deg);
        -webkit-transform: translateX(370px) translateY(120px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(120px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(120px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}
