@import "variables";
@import "navbar";
@import "misc";
@import "gridcustom";
@import "forms";
@import "angularanimations";
@import "debugging";
// //Aqui são os paineis EXTERNOS.
// .zero-padding, .mainContent, .panel-module, .panel-info {
//   padding: 0;
// }
// //This is the main container of each module (i.e. main div of financemain.html)
// .module-container {
//   padding: 5px;
// }
// .moduleinfobar p {
//   margin-bottom: $navbar-moduleinfobar-p-margin-bottom;
//   margin-top: $navbar-moduleinfobar-p-margin-top;
// }
// .moduleinfobar {
//   width: $navbar-moduleinfobar-width;
//   top:$navbar-moduleinfobar-top;
//   left: $navbar-moduleinfobar-left;
//   padding: $navbar-moduleinfobar-padding;
//   margin: $navbar-moduleinfobar-margin;
//   text-align: $navbar-moduleinfobar-text-align;
//   border:$navbar-moduleinfobar-border;
//   border-radius: $navbar-moduleinfobar-border-radius;
//   color: $navbar-moduleinfobar-color;
//   font: $navbar-moduleinfobar-font;
//   background: $navbar-moduleinfobar-background;
// }
// .messaginginfobar p {
//   margin-bottom: $navbar-messaginginfobar-p-margin-bottom;
//   margin-top: $navbar-messaginginfobar-p-margin-top;
// }
// .messaginginfobar {
//   width: $navbar-messaginginfobar-width;
//   top:$navbar-messaginginfobar-top;
// //  left: $navbar-messaginginfobar-left;
//   right: $navbar-messaginginfobar-right;
//   padding: $navbar-messaginginfobar-padding;
//   margin: $navbar-messaginginfobar-margin;
//   text-align: $navbar-messaginginfobar-text-align;
//   border:$navbar-messaginginfobar-border;
//   border-radius: $navbar-messaginginfobar-border-radius;
//   color: $navbar-messaginginfobar-color;
//   font: $navbar-messaginginfobar-font;
//   background: $navbar-messaginginfobar-background;
// }
.navbar-zideco {
    margin-bottom: 0;
    color: #000000;
    background: $navbar-background;
    border: $navbar-moduleinfobar-border;
    border-radius: $navbar-moduleinfobar-border-radius;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
}

.navbar-zideco .navbar-header {
    a {
        color: $main-textcolor;
    }
}

// .navbar-zideco .navbar-brand img {
//   height: 40px;
//   width: auto;
//   padding: 0 10px;
// }
// .navbar-zideco .dropdown-menu {
//   width: $navbar-dropdownmenu-width;
//   height: $navbar-dropdownmenu-height;
//   right: 10px;
// }
// .navbar-zideco .navbar-header {
//   border-bottom: 0;
// }
// .footer p {
//   color: $main-textcolor;
//   margin: auto;
//   bottom: 0;
// }
// /*AQUI VEM AS DEFINICOES DO NAV-BAR*/
// //
// .icon-bar-content {
//   position: relative;
//   width: $icon-bar-content-width;
//   height: $icon-bar-content-height;
// }
// //.icon-bar-image
// //color: #ffffff;
// a.icon-bar-image {
// //  font-size: $icon-bar-fa-fontsize;
//   font-size: $icon-bar-fa-fontsize;
//   padding: $icon-bar-padding 0;
//   text-align: center;
//   color: #ffffff;
//   text-decoration: none;
// }
// a.icon-bar-image:hover {
//   font-size: $icon-bar-fa-fontsize-hover;
//   padding: $icon-bar-padding/2 0;
//   outline: none;
// }
// .icon-bar-image {
//   //Com imagens...
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: $icon-bar-image-width $icon-bar-image-height;
//   height: $icon-bar-content-width;
//   width: $icon-bar-content-height;
//   position: relative;
//   float: left;
//   background-color: transparent;
//   transition: all 100ms ease-in-out;
// }
// .icon-bar-image:hover {
//   outline: none;
//   background-size: $icon-bar-image-width-hover $icon-bar-image-height-hover;
// }
// .icon-bar-image.icon-bar-kdmain {
//   background-image: url('assets/images/zidecologo.svg');
//   background-size: auto $icon-kd-image-height;
//   margin-left: 15px;
// //  width: 130px;
//   transition: none;
// }
// .icon-bar-image.icon-bar-kdmain:hover {
//   background-size: auto $icon-kd-image-height-hover;
// }
// .icon-bar.badge {
//   background-color: red;
//   opacity: 0.7;
//   bottom: 0;
//   right: 0;
//   margin: 3;
//   position: absolute;
//   border: 1px solid black;
//   margin-bottom: 5px;
//   margin-right: 5px;
//   min-width: 5px;
//   padding-left: 3px;
//   padding-right: 3px;
//   padding-top: 1px;
//   padding-bottom: 1px;
// }
// .dropdown-menu {
//   overflow: visible;
//   margin-top: 4px;
// }
// .dropdown-menu a.icon-bar-image {
//   color: $navbar-dropdownmenu-color;
// }
// .dropdown-menu.dropdown-minhastarefas {
//   margin-right: (($icon-bar-content-width * 5) - ($navbar-dropdownmenu-seta-before-deslocamento-right));
// }
// //.dropdown-menu.dropdown-novatarefa {
// //  margin-right: (($icon-bar-content-width * 5) - ($navbar-dropdownmenu-seta-before-deslocamento-right));
// //}
// .dropdown-menu.dropdown-modules {
//   margin-right: (($icon-bar-content-width * 3) - ($navbar-dropdownmenu-seta-before-deslocamento-right));
// }
// .dropdown-menu.dropdown-configmsgs {
//   margin-right: (($icon-bar-content-width * 2) - ($navbar-dropdownmenu-seta-before-deslocamento-right));
// }
// .dropdown-menu.dropdown-config {
//   margin-right: (($icon-bar-content-width) - ($navbar-dropdownmenu-seta-before-deslocamento-right));
// }
// .dropdown-menu.dropdown-usuario {
//   margin-right: 0;
// }
// //Setinha
// .dropdown-menu-content:before {
//   content: ' ';
//   position: absolute;
//   width: 0;
//   height: 0;
//   right: $navbar-dropdownmenu-seta-before-deslocamento-right;
//   top: $navbar-dropdownmenu-seta-before-deslocamento-top;
//   border: 10px solid;
//   //  border-color: red green #666 blue;
//   border-color: transparent transparent #666 transparent;
// }
// .dropdown-menu-content:after {
//   content: ' ';
//   position: absolute;
//   width: 0;
//   height: 0;
//   right: $navbar-dropdownmenu-seta-after-deslocamento-right;
//   top: $navbar-dropdownmenu-seta-after-deslocamento-top;
//   border: 10px solid;
//   border-color: transparent transparent $navbar-dropdownmenu-backgroundcolor transparent;
// }
// .dropdown-usuario ul.dropdown-menu-content:before {
//   right: 5px;
// }
// .dropdown-usuario ul.dropdown-menu-content:after {
//   right: 5px;
// }
// .dropdown-menu {
//   color: $navbar-dropdownmenu-color;
//   background-color: $navbar-dropdownmenu-backgroundcolor;
// }
// .dropdown-menu-content-modules {
//   height: $navbar-dropdownmenu-height;
//   width: ( ($icon-module-container-width + $icon-module-container-margin-right + $icon-module-container-margin-left) * 3); //3 x width of images.
//   position: relative;
//   margin: auto;
// }
// .icon-module-container {
//   position: relative;
//   align-content: center;
//   width: $icon-module-container-width;
//   margin: $icon-module-container-margin-top $icon-module-container-margin-right $icon-module-container-margin-bottom $icon-module-container-margin-left;
// //  padding-left: 4px;
// //  padding-right: 4px;
//   float: left;
//   font-size: 10;
//   overflow: hidden;
// }
// .icon-module-container p {
//   text-align: center;
//   margin-top: $icon-module-container-height;
// }
// .dropdown-menu-content-modules a.icon-bar-image {
//   width: $icon-module-container-width;
// }
// div.icon-bar-grid div {
//   position: relative;
//   width: 9px;
//   height: 9px;
//   outline: 1px solid;
//   float: left;
// }
// //speech box!
// p.speech:before {
//   content: ' ';
//   position: absolute;
//   width: 0;
//   height: 0;
//   left: 100px;
//   top: 100%;
//   border: 25px solid;
//   border-color: #666 transparent transparent transparent;
// }
// p.speech:after {
//   content: ' ';
//   position: absolute;
//   width: 0;
//   height: 0;
//   left: 103px;
//   top: 100%;
//   border: 20px solid;
//   border-color: #fff transparent transparent transparent;
// }
// p.speech {
//   position: relative;
//   width: 200px;
//   height: 100px;
//   text-align: center;
//   line-height: 100px;
//   background-color: #fff;
//   border: 2px solid #666;
//   border-radius: 30px;
//   box-shadow: 2px 2px 4px #888;
// }
