<nav class="navbar navbar-kd" role="navigation">

    <div class="navbar-header">
        <a class="icon-bar-image icon-bar-kdmain" ui-sref="zideco" href="#"></a>
    </div>



    <div class="navbar-header navbar-right ">

        <!--<div class="navbar-header" dropdown is-open="navbarmenus.minhastarefas.navisopen">-->

            <!--<div class="icon-bar-content">-->
                <!--&lt;!&ndash;<i class="fa fa-camera-retro"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="icon-bar-image icon-bar-minhastarefa dropdown-toggle" href="#" title="Minhas Tarefas"></a>&ndash;&gt;-->
                <!--<a class="icon-bar-image fa fa-inbox dropdown-toggle" href="#" title="Minhas Tarefas"></a>-->

                <!--<p id="badge-tarefasunread" class="icon-bar badge" title="{{tarefasUnread}} tarefas não lidas">-->
                    <!--{{tarefasUnread}}</p>-->
            <!--</div>-->



            <!--<div class="dropdown-menu dropdown-minhastarefas">d-->
                <!--<ul class="dropdown-menu-content" role="menu">-->
                    <!--<li><a href="#">Ação de minhas tarefas 1</a></li>-->
                    <!--<li><a href="#">Ação de minhas tarefas 2</a></li>-->
                    <!--<li><a href="#">Ação de minhas tarefas 3</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="navbar-header">-->
            <!--&lt;!&ndash;<a class="icon-bar-image icon-bar-novatarefa dropdown-toggle" href="#" ng-click="novaTarefa()" title="Nova Tarefa"></a>&ndash;&gt;-->
            <!--<a class="icon-bar-image fa fa-file dropdown-toggle" href="#" ng-click="novaTarefa()" title="Nova Tarefa"></a>-->
        <!--</div>-->

        <div class="navbar-header" dropdown is-open="navbarmenus.modules.navisopen">

            <a class="icon-bar-image dropdown-toggle fa fa-th" href="#" title="Módulos do KD"></a>
            <!--<a class="icon-bar-image icon-bar-modules dropdown-toggle" href="#" title="Módulos do KD"></a>-->

            <div class="dropdown-menu dropdown-modules">
                <div class="dropdown-menu-content">
                    <div class="dropdown-menu-content-modules">
                        <div class="icon-module-container">

                            <!--<a class="icon-bar-image icon-module icon-module-pessoas" href="#" ui-sref="kd.pessoamain" title="Módulo Pessoas"></a>-->
                            <a class="icon-bar-image icon-module fa fa-group" href="#" ui-sref="zideco.finance" title="Finance Module"></a>
                            <p>Pessoas (A)</p>
                        </div>

                        <!--<div class="icon-module-container">-->
                            <!--<a class="icon-bar-image icon-module fa fa-group" href="#" ui-sref="kd.pessoalista" title="Módulo Pessoas"></a>-->

                            <!--<p>Pessoas (N)</p>-->
                        <!--</div>-->

                        <!--<div class="icon-module-container">-->
                            <!--<a class="icon-bar-image icon-module  fa fa-question" href="#" ui-sref="kd.projetomain" title="Módulo Projetos"></a>-->
                            <!--<p>Projetos</p>-->
                        <!--</div>-->
                        <!--<div class="icon-module-container">-->
                            <!--<a class="icon-bar-image icon-module fa fa-laptop" href="#" ui-sref="kd.demandamain" title="Módulo Tecnologia"></a>-->

                            <!--<p>Tecnologia</p>-->
                        <!--</div>-->
                        <!--<div class="icon-module-container">-->
                            <!--<a class="icon-bar-image icon-module fa fa-inbox" href="#" ui-sref="tarefamain"-->
                               <!--title="Módulo Tarefas"></a>-->

                            <!--<p>Tarefas</p>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="navbar-header" dropdown is-open="navbarmenus.configmsgs.navisopen">-->
            <!--&lt;!&ndash;<a class="icon-bar-image icon-bar-configmsgs dropdown-toggle" href="#" title="Configuração de Mensagens"></a>&ndash;&gt;-->
            <!--<a class="icon-bar-image fa fa-envelope dropdown-toggle" href="#" title="Configuração de Mensagens"></a>-->


            <!--<div class="dropdown-menu dropdown-configmsgs">-->
                <!--<ul class="dropdown-menu-content" role="menu">-->
                    <!--<li><a href="#">Acao 1</a></li>-->
                    <!--<li><a href="#">Another action</a></li>-->
                    <!--<li><a href="#">Something else here</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->

        <div class="navbar-header" dropdown is-open="navbarmenus.config.navisopen">
            <!--<a class="icon-bar-image icon-bar-config dropdown-toggle" href="#" title="Configurações do Sistema"></a>-->
            <a class="icon-bar-image fa fa-cogs dropdown-toggle" href="#" title="Configurações do Sistema"></a>

            <div class="dropdown-menu dropdown-config">
                <ul class="dropdown-menu-content" role="menu">
                    <li><a href="#">Ze Gracioso</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>

        <div class="navbar-header" dropdown is-open="navbarmenus.usuario.navisopen">
            <!--<a class="icon-bar-image icon-bar-usuario dropdown-toggle" href="#" title="{{user.username}} ({{user.emailCamara}}"></a>-->
            <a class="icon-bar-image fa fa-user dropdown-toggle" href="#" title="{{user.username}} ({{user.emailCamara}}"></a>

            <div class="dropdown-menu dropdown-usuario">
                <ul class="dropdown-menu-content" role="menu">
                    <li><a href="#">Ze Gracioso</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>

    </div>

    <!--<div class="barraIdentificadora">-->
    <!--<p>{{nomeModulo()}}Módulo {{$state.current.data.moduleName}}</p>-->
    <!--</div>-->

</nav>


<footer class="footer">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-6 text-left">
                <p class="text-muted">Place sticky footer content here.</p>
                <!--<p>-->
                <!--<small>aqui vao os "powered by"</small>-->
                <!--</p>-->
            </div>

            <div class="col-sm-6 text-right">
                <p>
                    <small>{{'v. %VERSION% ' | interpolate}} &copy; zideco.org</small>
                </p>
            </div>
        </div>
    </div>
</footer>


<!-- MAIN CONTENT -->
<div class="row-fluid mainConteudo">


    <!--<div class="container" >-->
    <!--TODO: Aqui vamo mostrar as alertas com um mecanismo de servico, para que qualquer controlador possa mostrar.-->

    <!--<div class="row">-->
    <!--<div class="col-xs-12 col-md-12 col-lg-8">-->
    <!--<alert ng-repeat="alerta in alertas" type="{{alerta.type}}"-->
    <!--close="removerAlerta($index, alerta.msg, alerta.type)">{{alerta.msg}}-->
    <!--</alert>-->
    <!--</div>-->
    <!--</div>-->
    <div id="mainConteudo" class="col-xs-12 mainConteudo">
        <div class="row-fluid">
            <div class="col-xs-12 col-md-10 painel-conteudo-modulo ">
                <div class="barraIdentificadora">
                    <p>{{$state.current.data.moduleName}}</p>
                </div>
            </div>
        </div>
        <div class="row-fluid">

            <div id="mainPainelEsquerdo" class="col-xs-12 col-md-10 painel-conteudo-modulo ">
                <!--<div id="mainPainelEsquerdoConteudo" ui-view class="container full-height"></div>-->
                <div ui-view class="container full-height"></div>
            </div>

            <div id="mainPainelDireito" class="col-xs-12 col-md-2 painel-principal-direito">
                <span class="glyphicon glyphicon-search"></span>
                <p>Painel direito</p>
            </div>

        </div>
    </div>
</div>

<!--</div>-->
